<div class="login">    
<div class="menu"></div>
    <div class="seek">
        <mat-card class="search">
            <mat-card-title class="title" >
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <a mat-list-item routerLink="/controle">
                    Controle de Preventivas
                </a>
            </mat-card-title>
        </mat-card>
    
        <mat-card class="search">
            <mat-card-title class="title" >
                <a mat-list-item routerLink="/dados">
                    Cadastrar Equipamento
                </a>
            </mat-card-title>
        </mat-card>
    
        <mat-card class="search">
            <mat-card-title class="title" >
                <a mat-list-item routerLink="/usuarios">
                    Gerenciar Usuários
                </a>
            </mat-card-title>
        </mat-card>

        <mat-card class="search">
            <mat-card-title class="title" >
                <a mat-list-item routerLink="/preventivas">
                    Gerenciar Preventivas
                </a>
            </mat-card-title>
        </mat-card>        
        <mat-card class="search">
            <mat-card-title class="title" >
                <button mat-raised-button (click)="openDialog()">dialog</button>
            </mat-card-title>
        </mat-card>        
    </div>
    
</div>
